@media (max-width: 768px) {
   
    *{
        margin: 0;
        padding: 0;
    }

    .header-main{
        width: 100%;
        height: 120vh !important;


       .header-div-main{
       
        background-repeat: no-repeat;
        background-size: fill;
        width: 100%;
        height: 100vh !important;
        display: flex;
        justify-content: space-between;
        
        
        #background-video {
            width: 100%;
            height: 100vh !important;
            object-fit: cover;
            position: absolute;
            z-index: -10;
          }
       }
       .carousel{
        margin-top: 0%;
        width: 100% !important;
        height: 25vh !important ;
        #carouselExampleIndicators{
            color: #050505 !important;
        }
        .img-carousel{
            width: 100% !important ;
            height: 100% !important;
            border-top-left-radius: calc(0.25rem - 1px);
            border-top-right-radius: calc(0.25rem - 1px);
            object-fit: cover;
        }
       }
       .carousel-caption {
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.9px);
        -webkit-backdrop-filter: blur(5.9px);
        position: absolute;
        left: 5%;
        height: 38%;
        width: 38%;
        bottom: 2rem;
        right: 60%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        h5{
            padding: 0.5rem;
            width: 100%;
            display: flex;
            font-size:2rem;
            color: #fafafa;
            margin-block-start: none;
            margin-block-end:  none;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            font-family: 'Inter', sans-serif;
        }
    }
       
    }
    
    .nav-desktop{
      display: none;
    }


    //nav responsive

    .active-menu{
        background-color: #df9300;
        width: 85%;
        padding: 5px;
        border-radius: 16px;
        font-style: italic;
        color: white !important;
    }
    .active-menu-c{
        background-color: #df9300;
        width: 120%;
        padding: 5%;
        border-radius: 16px;
        font-style: italic;
        color: white !important;
    }

.nav-bar{
    display: block !important;
    padding: 20px;
    margin-bottom: 10px;
    display: block;
    position: absolute;
    color: rgb(7, 0, 0);
    cursor: pointer;
    font-size: 1.5em;
    width: 100vw;
}

.nav-contact{
   
    z-index: 200 !important;
}



.main-nav{
    display: block !important;
    position: absolute;
    top: 50px;
    width: 90%;
    height: 90vh;
    border-radius: 16px;    
    z-index: 2;
}
.menu , .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu{
    
   padding-left: 10%;
    height: 100%;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
    background: rgba(233, 229, 229, 0.671);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    hr{
        width: 300px;
    }
    .contactUs-responsive{
        position: absolute;
        top: 700px;
   
    }
    h1{
        padding-top: 50px;
        margin-bottom: 100px;
        font-size: 3em;
        font-style: italic;
        font-weight: 100;
    }

}

.menu__link{
    display: block;
    
    color: #000000;
    font-size: 1.2em;
    text-decoration: none;
    i{
        margin-left: 200px;
    }
}

.menu__link:hover{
    color: #000000;
}




.submenu{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    .menu__link{
        
        padding-left: 50px;
        padding-top: 10px;
    }
}

.mostrar{
    margin-left: 0;
}

    
    .logo{
        display: none;
    }
    
    .logo1{
        z-index: -10;
        width: 80vw !important;
        position: relative;
        left: 10%;
        top: 40%;
    }
    
   
      .carousel-control-prev-icon {
        position: relative;
        left: 40%;
        margin: 0%;
    }
    .carousel-control-next-icon {
        position: relative;
        right: 40%;
       
    }
    
    
    
      .our-solution-section{
      
        height: 55vh;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        .d-flex{
            flex-direction: row-reverse;
        }

        .container{
            width: 100%;
            padding-right: 0%;
            padding-left: 0%;
            margin-right:0%;
            margin-left: 0%;
        }

        div{
            width: 100%;
            .text-our-solutions{
                padding: 2%;
                
            }
            .text-our-solutions{
                img{
                   display: none;
                }
                 width: 45% !important;
                 padding-top: 10%;
                .oursolution-h1-res{
                    display: block;
                    font-family: "sequel sans black disp";
                    font-size: 6vw;
                    color: #df9300;
                }
                p{
                    font-family: 'Inter', sans-serif;
                    font-size: 4vw;
                    margin: 0%;
                }
            }

            .our-solution-img-container{
                width: 55% !important;
                height: 100%;

                .our-solution-img{
                    padding-top: 20%;
                    width: 100%;
                    height: 100% !important;
                    object-fit: cover;
                }
            }
            
        }
      }
    
      .benefits-section{
        width: 100%;
        height: 50vh;
        div{
            width: 100%;
            flex-direction: row-reverse;
            .benefits-img{
                padding-top: 10%;
                width: 100%;
                height: 95% !important;
                object-fit: cover;
            }
            .text-benefits{
                padding: 2%;
                .benefits-h1-res{
                    display: block;
                    font-family: "sequel sans black disp";
                    font-size: 6vw;
                    color: #df9300;
                }
                img{
                  display: none;
                }
            
                p{
                    font-family: 'Inter', sans-serif;
                    font-size: 4vw;
                    margin: 0%;
                }
            
            }
        }
      }
    
    
    .section-validation{
        width: 100%;
        margin-top: 5vh;
        .title-validation{
            padding-left: 4vw;
            display: flex;
            flex-direction: column;
            img{
             width: 25vw;
             display: none;
            }
           span{
            font-family: 'Inter', sans-serif;
           }
           .validation-h1-res{
                     display: block;
                    font-family: "sequel sans black disp";
                    font-size: 6vw;
                    color: #df9300;
           }
         }
     
        .section-validation-graph{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
          
            padding-top: 3%;
            .validation-img{
               display: none;
            }

            .validation-img-res{
                display: block;
                width: 100%;
            }
          
        }
    
        .section-validation-text{
            display: flex;
            margin-top: 3rem;
            margin-bottom: 10rem;
            .text-column1{
                padding-top: 0;
                padding-left: 8%;
                display: flex;
                flex-direction: column;
                
                width: 50%;
            }
            .text-column2{
                padding-left: 8%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 50%;
            }
    
    
            p{
                font-family: 'Inter', sans-serif;
                font-size: 4vw;
            }
        }
    }
    
    
    .footer{
        width: 100%;
        height: 20vh;
        background-color: #131313;
        padding-top: 3%;
        padding-left: 8%;
        padding-right: 8%;
        ul{
            padding-top: 2%;
            list-style: none;
            li{
                color: #ffffff;
                font-size: 0.87rem;
            }
        }
        div{
            margin: 3.5rem;
        }
        .logo-footer{
            margin-top: 0;
            width: 6vw;
            position: relative;
            bottom: 15px;
            
        }
    }

    //about

    #background-video-about{
        width: 100% !important;
        height: 100vh !important;
    
    }

    .header-about{
        width: 100%;
       
       .header-div-main{
        display: none;
        
       }
    
    }

    
.ourStory-about{
    width: 100%;
    height: 100vh;
    padding: 5rem;
    
    .ourStory-about-main-container{
        padding: 3.5vw!important;
        display: flex;
        flex-direction: column;
    
    }
    .img-main-about-container{
        display: flex;
        width: 60%;   
        h1{
            display: block;
            font-family: "sequel sans black disp";
            font-size: 8vw;
        }

    }
    .img-main-about{
        width: 100%;
        height: 20vh;
        object-fit: cover;
    }
    
    .text-main-about-container{
    padding-left: 0rem;
    width: 100% !important;
    h1{
        display: none;
    }   
    p{
        font-family: 'Inter', sans-serif;
        
        font-size: 3.5vw;
    }
    }
    
    }

    
.our-team-section{
    margin-top: 20vh;
     height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    

     .team-img{
         margin-top: 0vh;
         width: 90%;
         height: 40vh;
         object-fit: cover;
     }
    
     .Our-team-png{
         width:40%;
         position:relative;
         right: 25%;
         bottom: 80%;
         z-index: 14;
         object-fit: scale-down;
     }
     p{
         width: 90%;
         font-family: 'Inter', sans-serif;
        font-size: 3vw;
        margin-top: 1rem;
     }
 }

 .we-have-section{
    background-color: white;
    width: 100%;
    height: 20vh;
    display: flex;
   justify-content: center;
    img{
        margin-top: 10%;
        width: 80%;
        height: 80%;
        object-fit:scale-down;

        
    }
}

.galery-section{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    justify-content: center;
    div{
     margin-right: 0rem;
     margin-left: 10%;
     margin-bottom: .5rem;
     width: 100%;
     height: 40vh;
    align-items: center;
     img{
         width: 90%;
         height:90%;
         object-fit: cover;
         object-position: center
     };
    }
    
 }

 .other-projects-sections{
    margin-top: 0vh;
    padding-top: 5vh;
    background-color: white;
    margin-bottom: 20%;
    h1{
        text-align: start;
        margin: 2rem;
        font-family: "sequel sans black disp";
        font-size: 8vw;
        width: 50%;
            }
    img{
        margin-top: 5%;
        width: 100%;
        margin-left: 0%;
        margin-bottom: 0vh
    };
    p{
        display: block;
        width: 90%;
        margin-left: 5%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-family: 'Inter', sans-serif;
        font-size: 4vw;
    }
}


    //solution

    .header-div-main-solution{
        display: none !important;
    }

    .section_main_solution{
        margin-top: 0%;
        padding-top: 15%;
       
    
        .title_solutions{
            font-family: "sequel sans black disp";
            font-size: 10vw;
        }
    
        span{
            font-family: sans-serif;
        }
    
    }

    .consist1{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80vh;
       justify-content: start;
       .consist-1-text-res{
        display: none;
       }
       .consist1-title-res{
        display: block;
        }
        h2{
            font-size: 6vw;
            font-style: italic;
        }
       
        .consist1_imgdiv{
            margin-top: 1rem;
            width: 100%;
            img{
                width: 100%;
                height: 70%;
            }
        }
    
        .consist1_textdiv{
            width: 100%;
            margin-top: 1rem;
            p{
                width: 100%;
                font-family: 'Inter', sans-serif;
                
                font-size: 4vw;
            }
        }
    }

    .consist2{
        display: flex;
        width: 100%;
        height: 40vh;
        justify-content: start;
        margin-right: 0%;
        .consist2_textdiv{
            width: 70%;
            p{
                font-family: 'Inter', sans-serif;
                
                font-size: 4vw;
            }
            h2{
                font-size: 6vw;
                font-style: italic;
            }
        }
        .consist2_imgdiv{
            width: 100%;
            img{
                width: 100%;
                height: 90%;
                
            }
        }
    }

    .consist3{
        display: flex;
        flex-direction: column;
        width: 100% !important;
        height: 65vh;
        margin-top: 15vh !important;
        padding: 0%;
   
        margin-right:0% !important;
       
        .consist-3-text-res{
            display: none;
           }


        .consist3_imgdiv{
            width:100% ;
            display: flex;
            .consist3_img1{
                width: 60%;
                height: 70%;
            }
            .consist3_img2{
                position: absolute;
                top: 155vh;
                left: 20vw;
                z-index: 100;
                width: 35%;
            }
          .div-consist3-text-res{
            display: block;
            width: 40%;
            padding-left: 2.5%;
            padding-right: 2.5%;
            h2{
                font-size: 6vw;
                font-style: italic;
            }
            
          }
        }
        .consist3_textdiv{
            padding: 5%;
            width: 100%;
            margin-right: 0%;
            
            p{
                width: 100%;
                font-family: 'Inter', sans-serif;
                font-size: 3.8vw;
            }
        }
    
    }
    
    .consist4{
       
        width: 100%;
        height: 35vh;
        display: flex;
        padding: 0 !important;
        margin-bottom: 10vh;
        .consist4_textdiv{
            position: relative;
            top: 0%;
            left: 10%;
            width: 50%;
            h2{
                font-size: 6vw;
                font-style: italic;
            }
            p{
                width: 70%;
                font-family: 'Inter', sans-serif;
                
                font-size: 4vw;
            }
        }
        .consist4_imgdiv{
            width: 70%;
            img{
                width: 100%;
            }
        }
    }


    //contact us 
    .header-about{
        margin-top: 0;
        padding-top: 0;
        .logo{
            display: none;
        }
        .logo1{
            display: none;
        }
    }
    .body-contacUs{
        height: 100%;
        video{
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            z-index: -10000;
            height: 120vh;
            object-fit: cover;
        }
    }
    
    .main_contactUs{
    
        h1{
            font-family: "sequel sans black disp";
            text-align: center;
            padding-top: 10vh;
            font-size: 15vw;
            width: 90%;
        } 
        span{
            display: none;
        }
    }
    
    
    .contactUs_form{
        z-index: 1;
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-bottom: 20vh;
        form{
            position: relative;
            top: 10%;
            left: 0%;
            width: 100%;
            height: 90%;
            background-image: url("/images/Email.png");
            background-size: 100%;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            padding-top: 10%;
            #fullname{
                height: 8%;
                width: 40%;
                background-color: #c2bbbb;
                border-radius: 16px;
                border: none;
                margin-top: 15%;
                margin-bottom: 3%;
                margin-left: 5%;
                padding: 1rem;
            }
        

            #email{
                height: 8%;
                width: 40%;
                background-color: #afaaaa;
                border-radius: 16px;
                border: none;
                margin-bottom: 3%;
                margin-left: 5%;
            }
            #bodymessage{
                width: 50%;
                height: 35%;
                margin-left: 5%;
                background-color: #afaaaa;
                border-radius: 16px;
                border: none;
            }
            #button{
                width: 40%;
                position: relative;
                margin-left: 5%;
                top: 5%;
                height: 3vh;
                border-radius: 16px;
                border: none;
                background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaa01), to(#fdab05));
            }
        }
    }



}

@media (max-width: 412px){

    .active-menu{
        background-color: #df9300;
        width: 85%;
        padding: 5px;
        border-radius: 16px;
        font-style: italic;
        color: white !important;
    }
    .active-menu-c{
        background-color: #df9300;
        width: 120%;
        padding: 5%;
        border-radius: 16px;
        font-style: italic;
        color: white !important;
    }

.nav-bar{
    display: block !important;
    padding: 20px;
    margin-bottom: 10px;
    display: block;
    position: absolute;
    color: rgb(7, 0, 0);
    cursor: pointer;
    font-size: 1.5em;
    width: 100vw;
}

.nav-contact{
    top: 0;
    z-index: 200 !important;
}


.main-nav{
    display: block !important;
    position: absolute;
    top: 50px;
    width: 90%;
    height: 90vh;
    border-radius: 16px;    
    z-index: 2;
}
.menu , .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu{
    
   padding-left: 10%;
    height: 100%;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
    background: rgba(233, 229, 229, 0.671);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    hr{
        width: 200px;
    }
    .contactUs-responsive{
        position: absolute;
        top: 550px;
   
    }
    h1{
        padding-top: 20px;
        margin-bottom: 75px;
        font-size: 3em;
        font-style: italic;
        font-weight: 100;
    }

}

.menu__link{
    display: block;
    
    color: #000000;
    font-size: 1.2em;
    text-decoration: none;
    i{
        margin-left: 150px;
    }
}

.menu__link:hover{
    color: #000000;
}

.submenu{
    height: 0;
    overflow: hidden;
    transition: all 0.3s;
    .menu__link{
        
        padding-left: 50px;
        padding-top: 10px;
    }
}

.mostrar{
    margin-left: 0;
}


#background-video-about{
    width: 100% !important;
    height: 130vh !important;

}

.header-about{
    width: 100%;
   
   .header-div-main{
    display: none;
    
   }

}


.ourStory-about{
width: 100%;
height: 130vh;
padding: 5rem;

.ourStory-about-main-container{
    padding: 3.5vw!important;
    display: flex;
    flex-direction: column;

}
.img-main-about-container{
    display: flex;
    width: 60%;   
    h1{
        display: block;
        font-family: "sequel sans black disp";
        font-size: 8vw;
    }

}
.img-main-about{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.text-main-about-container{
padding-left: 0rem;
width: 100% !important;
h1{
    display: none;
}   
p{
    font-family: 'Inter', sans-serif;
    
    font-size: 3.5vw;
}
}

}


.our-team-section{
    margin-top: 20vh;
     height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    

     .team-img{
         margin-top: 0vh;
         width: 90%;
         height: 40vh;
         object-fit: cover;
     }
    
     .Our-team-png{
         width:40%;
         position:relative;
         right: 25%;
         bottom: 100%;
         z-index: 14;
         object-fit: scale-down;
     }
     p{
         width: 90%;
         font-family: 'Inter', sans-serif;
        font-size: 3vw;
        margin-top: 1rem;
     }
 }


 .other-projects-sections{
    margin-top: 0vh;
    padding-top: 10vh;
    background-color: white;
    margin-bottom: 20%;
    h1{
        text-align: start;
        margin: 0rem;
        font-family: "sequel sans black disp";
        font-size: 8vw;
        width: 50%;
            }
    img{
        margin-top: 5%;
        width: 100%;
        margin-left: 0%;
        margin-bottom: 0vh
    };
    p{
        display: block;
        width: 100%;
        margin-left: 5%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 4vw;
    }
}





.header-div-main-solution{
    display: none !important;
}

.section_main_solution{
    margin-top: 0%;
    padding-top: 15%;
   

    .title_solutions{
        font-family: "sequel sans black disp";
        font-size: 10vw;
    }

    span{
        font-family: sans-serif;
    }

}

.consist1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 115vh;
    justify-content: start;
   .consist-1-text-res{
    display: none;
   }
   .consist1-title-res{
    display: block;
    }
    h2{
        font-size: 6vw;
        font-style: italic;
    }
   
    .consist1_imgdiv{
        margin-top: 1rem;
        width: 100%;
        img{
            width: 100%;
            height: 70%;
        }
    }

    .consist1_textdiv{
        width: 100%;
        margin-top: 2rem;
        p{
            width: 100%;
            font-family: 'Inter', sans-serif;
            
            font-size: 4vw;
        }
    }
}

.consist2{
    display: flex;
    width: 100%;
    height: 60vh;
    justify-content: start;
    margin-right: 0%;
    .consist2_textdiv{
        width: 70%;
        p{
            font-family: 'Inter', sans-serif;
            
            font-size: 4vw;
        }
        h2{
            font-size: 6vw;
            font-style: italic;
        }
    }
    .consist2_imgdiv{
        width: 100%;
        img{
            width: 100%;
            height: 90%;
            object-fit: cover;
        }
    }
}

.consist3{
    display: flex;
    flex-direction: column;
    width: 100% !important;
    height: 85vh;
    margin-top: 15vh !important;
    padding: 0%;

    margin-right:0% !important;
   
    .consist-3-text-res{
        display: none;
       }


    .consist3_imgdiv{
        width:100% ;
        display: flex;
        .consist3_img1{
            width: 60%;
            height: 70%;
            object-fit: cover;
        }
        .consist3_img2{
            position: absolute;
            top: 230vh;
            left: 30vw;
            z-index: 100;
            width: 35%;
        }
      .div-consist3-text-res{
        display: block;
        width: 40%;
        padding-left: 2.5%;
        padding-right: 2.5%;
        h2{
            font-size: 6vw;
            font-style: italic;
        }
        
      }
    }
    .consist3_textdiv{
        padding: 5%;
        width: 100%;
        margin-right: 0%;
        
        p{
            width: 100%;
            font-family: 'Inter', sans-serif;
            font-size: 3.8vw;
        }
    }

}

.consist4{
   
    width: 100%;
    height: 35vh;
    display: flex;
    padding: 0 !important;
    margin-bottom: 10vh;
    .consist4_textdiv{
        position: relative;
        top: 0%;
        left: 10%;
        width: 50%;
        h2{
            font-size: 6vw;
            font-style: italic;
        }
        p{
            width: 70%;
            font-family: 'Inter', sans-serif;
            
            font-size: 4vw;
        }
    }
    .consist4_imgdiv{
        width: 70%;
        img{
            width: 100%;
            object-fit: cover;
        }
    }
}


.body-contacUs{
    height: 100%;
    video{
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
        z-index: -10000;
        height: 125vh;
        object-fit: cover;
    }
}

.contactUs_form{
    z-index: 1;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 20vh;
    form{
        position: relative;
        top: 10%;
        left: 0%;
        width: 100%;
        height: 90%;
        background-image: url("/images/Email.png");
        background-size: 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        #fullname{
            height: 8%;
            width: 40%;
            background-color: #c2bbbb;
            border-radius: 16px;
            border: none;
            margin-top: 5%;
            margin-bottom: 3%;
            margin-left: 5%;
            padding: 0rem;
        }
    

        #email{
            height: 8%;
            width: 40%;
            background-color: #afaaaa;
            border-radius: 16px;
            border: none;
            margin-bottom: 3%;
            margin-left: 5%;
        }
        #bodymessage{
            width: 50%;
            height: 48%;
            margin-left: 5%;
            background-color: #afaaaa;
            border-radius: 16px;
            border: none;
        }
        #button{
            width: 40%;
            position: relative;
            margin-left: 5%;
            top: 5%;
            height: 3vh;
            border-radius: 16px;
            border: none;
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaa01), to(#fdab05));
        }
    }
}



.footer{
    width: 100%;
    height: 30vh;
    background-color: #131313;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 8%;
    ul{
        padding-top: 2%;
        list-style: none;
        li{
            color: #ffffff;
            font-size: 0.87rem;
        }
    }
    div{
        margin: 3.5rem;
    }
    .logo-footer{
        margin-top: 0;
        width: 6vw;
        position: relative;
        bottom: 15px;
        
    }
}



}




@media(min-width:1400px){

    .nav-desktop{
        ul{
            display: flex;
           list-style: none;
           padding-left: 0px;
           padding-right: 0px !important;
           div{
            margin-right: 12%;
           }
           li{
            margin-right: 12%;
           }
        }
     
    }
}

@media(min-width:1400px){
    .nav-desktop{
        ul{
            display: flex;
           list-style: none;
           padding-left: 0px;
           padding-right: 0px !important;
           div{
            margin-right: 13%;
           }
           li{
            margin-right: 13%;
           }
        }
     
    }
}


@media(min-width:1480px){
    .nav-desktop{
        ul{
            display: flex;
           list-style: none;
           padding-left: 0px;
           padding-right: 0px !important;
           div{
            margin-right: 11.5%;
           }
           li{
            margin-right: 11.5%;
           }
        }
     
    }
}


@media(min-width:1600px){
    .nav-desktop{
        ul{
           display: flex;
           list-style: none;
           padding-left: 0px;
           padding-right: 0px !important;
           div{
            margin-right: 10%;
           }
           li{
            margin-right: 10%;
           }
        }
    }
    .btn-main{
        padding-top:0px;
        margin-top: 1.5rem;
        width: 14vw;
        height: 2.5rem;
        font-family: 'Inter', sans-serif;
        color: #050505;
        font-size: 1.5vw;
        overflow: hidden;
        text-decoration: none;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
        -webkit-box-shadow: 0px 1px 3px #666666;
        -moz-box-shadow: 0px 1px 3px #666666;
        box-shadow: 0px 3px 5px #666666;
        text-shadow: 0px 0px 0px #666666;
        background: #ffffff;
        text-transform: math-auto;
        text-align: center;
        
    }

    .btn-main-active{
        overflow: hidden;
        padding-top:1px;
        margin-top: 1.5rem;
        width: 14vw;
        height: 2.5rem;
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
        font-size: 1.5vw;
        text-decoration: none;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaa01), to(#fdab05));
        text-transform: math-auto;
        text-align: center;
        box-shadow: none !important;
    }
}



@media(min-width:1700px){
    .nav-desktop{
        ul{
           display: flex;
           list-style: none;
           padding-left: 0px;
           padding-right: 0px !important;
           div{
            margin-right: 9%;
           }
           li{
            margin-right: 9%;
           }
        }
    }

    .btn-main{
        padding-top:0px;
        margin-top: 1.5rem;
        width: 14vw;
        height: 2.5rem !important;
        font-family: 'Inter', sans-serif;
        color: #050505;
        font-size: 1.5vw;
        overflow: hidden;
        text-decoration: none;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
        -webkit-box-shadow: 0px 1px 3px #666666;
        -moz-box-shadow: 0px 1px 3px #666666;
        box-shadow: 0px 3px 5px #666666;
        text-shadow: 0px 0px 0px #666666;
        background: #ffffff;
        text-transform: math-auto;
        text-align: center;
        
    }

    .btn-main-active{
        overflow: hidden;
        padding-top:0px !important;
        margin-top: 1.5rem;
        width: 14vw;
        height: 2.5rem !important;
        font-family: 'Inter', sans-serif;
        color: hsl(0, 0%, 100%);
        font-size: 1.5vw;
        text-decoration: none;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
        background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaa01), to(#fdab05));
        text-transform: math-auto;
        text-align: center;
        box-shadow: none !important;
    }
}

@media (min-width:1750px) {
    .nav-desktop{
        ul{
            width:100% !important;
           display: flex;
           list-style: none;
           padding-left: 0px;
           padding-right: 0px !important;
           div{
            margin-right: 7%;
           }
           li{
            margin-right: 7%;
           }
        }
    }
}

@media(min-width:1800px){
    .nav-desktop{
        ul{
           display: flex;
           list-style: none;
           padding-left: 0px;
           padding-right: 0px !important;
           div{
            margin-right: 7%;
           }
           li{
            margin-right: 7%;
           }
        }
    }
}



@media (min-width:1900px ){
    .nav-desktop{
        ul{
           display: flex;
           list-style: none;
           padding-left: 0px;
           padding-right: 0px !important;
           div{
            margin-right: 6%;
           }
           li{
            margin-right: 6%;
           }
        }
    }

    .btn-main{
        padding-top:-20px;
        margin-top: 1.5rem;
        width: 14vw;
        height: 5vh;
        font-family: 'Inter', sans-serif;
        color: #050505;
        font-size: 1.5vw;
        overflow: hidden;
        text-decoration: none;
        -webkit-border-radius: 27px;
        -moz-border-radius: 27px;
        border-radius: 27px;
        -webkit-box-shadow: 0px 1px 3px #666666;
        -moz-box-shadow: 0px 1px 3px #666666;
        box-shadow: 0px 3px 5px #666666;
        text-shadow: 0px 0px 0px #666666;
        background: #ffffff;
        text-transform: math-auto;
        text-align: center;
        
    }
    .our-solution-section{
      

        div{
            width: 100%;
            .text-our-solutions{
                padding: 2%;
                
            }
        }
          
      }
    
}






