@font-face {
  font-family: "sequel sans black disp";
  src: url(/fonts/SequelSansTTF/SequelSansBlackDisp.ttf); }

.header-main {
  width: 100%;
  height: 100vh; }
  .header-main .header-div-main {
    background-repeat: no-repeat;
    background-size: fill;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between; }
    .header-main .header-div-main #background-video {
      width: 100%;
      height: 20vh;
      object-fit: cover;
      position: absolute;
      z-index: -10; }
  .header-main .carousel {
    margin-top: 5%;
    height: 60vh; }
    .header-main .carousel #carouselExampleIndicators {
      color: #050505 !important; }
    .header-main .carousel .img-carousel {
      width: 100%;
      height: 60vh !important;
      border-top-left-radius: calc(0.25rem - 1px);
      border-top-right-radius: calc(0.25rem - 1px);
      object-fit: cover; }

nav ul {
  display: flex;
  list-style: none;
  padding-left: 0px; }
  nav ul div {
    margin-right: 10%; }
  nav ul li {
    margin-right: 10%; }

nav .btn-main {
  padding-top: 1px;
  margin-top: 1.5rem;
  width: 14vw;
  height: 5vh;
  font-family: 'Source Sans Pro', sans-serif;
  color: #050505;
  font-size: 1.5vw;
  text-decoration: none;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 3px 5px #666666;
  text-shadow: 0px 0px 0px #666666;
  background: #ffffff;
  text-transform: math-auto;
  text-align: center; }

nav .btn-main-active {
  padding-top: 1px;
  margin-top: 1.5rem;
  width: 14vw;
  height: 5vh;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-size: 1.5vw;
  text-decoration: none;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaa01), to(#fdab05));
  text-transform: math-auto;
  text-align: center;
  box-shadow: none !important; }

nav .btn-main:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaa01), to(#eea004));
  background: -moz-linear-gradient(top, #ddfa03, #f0dd08); }

.logo {
  margin-top: 10%;
  width: 10vw; }

.logo1 {
  margin-top: 10%;
  width: 20vw; }

.dropdown {
  display: inline-block;
  position: relative;
  z-index: 5;
  height: 100%; }
  .dropdown span {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: math-auto; }

.dropdown-content {
  margin-top: .3rem;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  display: none;
  z-index: 5;
  position: absolute;
  width: 150%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  background: rgba(218, 218, 218, 0.72);
  border: 1px solid rgba(218, 218, 218, 0.3); }

.dropdown:hover .dropdown-content {
  display: block; }

.dropdown-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none; }

.dropdown-content a:hover {
  border-radius: 16px;
  z-index: 100;
  color: #000000;
  background-color: #cccbcb; }

.carousel-control-prev-icon {
  position: relative;
  left: 30%; }

.carousel-control-next-icon {
  position: relative;
  right: 30%; }

.our-solution-section {
  width: 100%;
  height: 100vh;
  margin-top: 10vh; }
  .our-solution-section div {
    width: 100%; }
    .our-solution-section div .text-our-solutions {
      padding: 5%; }
    .our-solution-section div .text-our-solutions img {
      width: 30vw;
      margin-top: 10%;
      margin-bottom: 10%; }
    .our-solution-section div .our-solution-img {
      padding-top: 10%;
      width: 100%;
      height: 80vh !important;
      object-fit: cover; }

.benefits-section {
  width: 100%;
  height: 100vh; }
  .benefits-section div {
    width: 100%; }
    .benefits-section div .benefits-img {
      padding-top: 10%;
      width: 100%;
      height: 80vh !important;
      object-fit: cover; }
    .benefits-section div .text-benefits {
      padding: 7%; }
      .benefits-section div .text-benefits img {
        width: 20vw;
        margin-bottom: 10%; }

.section-validation {
  width: 100%;
  margin-top: 10vh; }
  .section-validation .title-validation {
    padding-left: 4vw;
    display: flex;
    flex-direction: column; }
    .section-validation .title-validation img {
      width: 25vw; }
  .section-validation .section-validation-graph {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 3%; }
    .section-validation .section-validation-graph .validation-img {
      width: 100%;
      height: 90vh;
      margin: .5rem; }
  .section-validation .section-validation-text {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 10rem; }

.footer {
  width: 100%;
  height: 35vh;
  background-color: #131313; }
  .footer ul {
    padding-top: 2%;
    list-style: none; }
    .footer ul li {
      color: #ffffff; }
  .footer div {
    margin: 3.5rem; }
  .footer .logo-footer {
    width: 4vw;
    height: 10vh; }

.about-div-bg {
  width: 100% !important; }
  .about-div-bg #background-video-about {
    width: 100% !important;
    height: 300vh;
    z-index: -100;
    position: absolute;
    object-fit: cover; }

.header-about {
  width: 100%; }
  .header-about .header-div-main {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-between; }
    .header-about .header-div-main #background-video {
      width: 100%;
      height: 20vh;
      object-fit: cover;
      position: absolute;
      z-index: -10; }

.ourStory-about {
  width: 100%;
  height: 100vh;
  padding: 5rem; }
  .ourStory-about .ourStory-about-main-container {
    padding: 3.5vw !important; }
  .ourStory-about .img-main-about-container {
    width: 45%; }
  .ourStory-about .img-main-about {
    width: 100%;
    height: 75vh;
    object-fit: cover; }
  .ourStory-about .text-main-about-container {
    padding-left: 1rem; }
    .ourStory-about .text-main-about-container h1 {
      font-family: "sequel sans black disp";
      font-size: 4vw; }
    .ourStory-about .text-main-about-container p {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1vw; }

.our-team-section {
  margin-top: 20vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0; }
  .our-team-section .team-img {
    margin-top: 20vh;
    width: 70%;
    height: 65vh;
    object-fit: cover; }
  .our-team-section .Our-team-png {
    width: 25%;
    position: relative;
    right: 25%;
    bottom: 90%;
    z-index: 14;
    object-fit: scale-down; }
  .our-team-section p {
    width: 70%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1vw;
    margin-top: 1rem; }

.we-have-section {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center; }
  .we-have-section img {
    margin-top: 10%;
    width: 80%;
    height: 80%; }

.galery-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10vh;
  justify-content: center; }
  .galery-section div {
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 40%;
    height: 40vh; }
    .galery-section div img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.other-projects-sections {
  margin-top: 10vh;
  padding-top: 30vh;
  background-color: white; }
  .other-projects-sections h1 {
    text-align: start;
    margin: 2rem;
    font-family: "sequel sans black disp";
    font-size: 4vw; }
  .other-projects-sections img {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 10vh; }

.section_main_solution {
  margin-top: 25vh; }
  .section_main_solution .title_solutions {
    font-family: "sequel sans black disp";
    font-size: 4vw; }
  .section_main_solution span {
    font-family: sans-serif; }

.consist1 {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center; }
  .consist1 .consist1_imgdiv {
    margin-top: 15vh;
    width: 65%; }
    .consist1 .consist1_imgdiv img {
      width: 95%;
      height: 80%; }
  .consist1 .consist1_textdiv {
    width: 35%;
    margin-top: 15vh; }
    .consist1 .consist1_textdiv p {
      width: 100%;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1vw; }

.consist2 {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center; }
  .consist2 .consist2_textdiv {
    width: 40%; }
    .consist2 .consist2_textdiv p {
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1vw; }
  .consist2 .consist2_imgdiv {
    width: 60%; }
    .consist2 .consist2_imgdiv img {
      width: 100%;
      height: 90%; }

.consist3 {
  display: flex;
  width: 100%;
  height: 100vh; }
  .consist3 .consist3_imgdiv {
    width: 60%; }
    .consist3 .consist3_imgdiv .consist3_img1 {
      width: 80%; }
    .consist3 .consist3_imgdiv .consist3_img2 {
      position: relative;
      bottom: 40%;
      left: 60%;
      z-index: 100;
      width: 40%; }
  .consist3 .consist3_textdiv {
    width: 50%; }
    .consist3 .consist3_textdiv p {
      width: 80%;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1vw; }

.consist4 {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 10vh;
  margin-bottom: 30vh; }
  .consist4 .consist4_textdiv {
    position: relative;
    top: 30%;
    left: 10%;
    width: 50%; }
    .consist4 .consist4_textdiv p {
      width: 60%;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 1vw; }
  .consist4 .consist4_imgdiv {
    width: 50%; }
    .consist4 .consist4_imgdiv img {
      width: 100%; }

.main_contactUs h1 {
  font-family: "sequel sans black disp";
  text-align: center; }

.main_contactUs span {
  text-align: center; }

.contactUs_form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20vh; }
  .contactUs_form form {
    position: relative;
    left: 15%;
    width: 100%;
    height: 90%;
    background-image: url("/images/Email.png");
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 5%; }
    .contactUs_form form #fullname {
      width: 30%;
      background-color: #afaaaa;
      border-radius: 16px;
      border: none;
      margin-bottom: 3%; }
    .contactUs_form form #email {
      width: 30%;
      background-color: #afaaaa;
      border-radius: 16px;
      border: none;
      margin-bottom: 3%; }
    .contactUs_form form #bodymessage {
      width: 40%;
      height: 40vh;
      background-color: #afaaaa;
      border-radius: 16px;
      border: none; }
    .contactUs_form form #button {
      width: 40%;
      position: relative;
      top: 10%;
      height: 5vh;
      border-radius: 16px;
      border: none;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaa01), to(#fdab05)); }
